# Demo 1

<table><tr>
    <td><img src="image/esi-sba.png" width="100" height="100"></td>
    <td><img src="image/mongo.png" width="100" height="100"></td>
    </tr></table>

### Lancer un conteneur de MONGO
   
! docker-compose up –d

#### installer pymongo afin de se connecter au cluster mongodb

! pip install pymongo

In [74]:
from pymongo import MongoClient

### We are then free to add useful methods as needed. These methods are wrappers for core pymongo collection methods including the following:
* find()
* find_one()
* insert_one()
* insert_many()
* update_one()
* update_many()
* delete_one()
* delete_many()

### Créer un Mongo Client afin d'exécuter nos requêtes sur MONGODB Server

In [75]:
client = MongoClient('mongodb://localhost:27017/')

###  Afficher les différentes  databases

In [76]:
client.list_database_names()

['admin', 'config', 'db1', 'local']

### Créer une "database variable" pour travailler avec la BDD "db1"

In [77]:
db = client["db1"] #use db1

### Récupérer les collections de la BDD "db1"

In [78]:
db.list_collection_names()

['comments', 'users']

###  Insérer un document dans la collection "users"

In [79]:
db["users"].drop()
db["comments"].drop()

db["users"].insert_one({
                    "_id":1,
                  "name": "Ali", 
                  "login": "ali89", 
                  "age": 29,
                  "address": {
                               "street": "12 gambitta", 
                               "city": "sba"
                             },
                  "job" : ['web', 'BDD']
                    })

InsertOneResult(1, acknowledged=True)

###  #Docs

In [80]:
db["users"].count_documents({}) # db.user.countDocuemnts()

1

In [81]:
db["users"].find_one()

{'_id': 1,
 'name': 'Ali',
 'login': 'ali89',
 'age': 29,
 'address': {'street': '12 gambitta', 'city': 'sba'},
 'job': ['web', 'BDD']}

### insertion multiple

In [82]:
userlist = [
  { "_id":2,"name":"Ahmed","login": "Ahmed77f", "age": 28,"address":{"street":"10 maconi","city": "sba"},"job" : ["web", "PHP"]},
  { "_id":3,"name":"said","login": "saidyy", "age": 25,"address":{"city": "oran"},"job" : ["web", "JAVA","PHP"]}, 
  { "_id":4,"name":"amine","login": "amine77","age": 18},
  { "_id":5,"name":"said","login": "ss.ki", "age": 23,"address":{"city": "sba"},"job" : ["python", "JAVA","PHP"]}, 
  
]

db["users"].insert_many(userlist)

db["users"].count_documents({})

5

In [83]:
db["users"].find()

### Afficher tous les docs

In [84]:
# Display all records
for user in db["users"].find():
  print(user,'\n')

{'_id': 1, 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': 2, 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 28, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': ['web', 'PHP']}

{'_id': 3, 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': ['web', 'JAVA', 'PHP']}

{'_id': 4, 'name': 'amine', 'login': 'amine77', 'age': 18}

{'_id': 5, 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': ['python', 'JAVA', 'PHP']}

### Update

In [85]:
db["users"].update_one( 
                        {'name': 'Ali'},
                        { "$inc" : { "age" : 1 } } 
                   )

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

### Update multiple

In [86]:
db["users"].update_many( 
                        {'age': {'$lte':18}},
                        { '$set' : { 'job' : [] } } 
                   )

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

### .find( filtre , projection )

In [87]:
for user in db["users"].find({}, {"_id": 0,"name": 1,"age": 1}):
  print(user,'\n')

{'name': 'Ali', 'age': 30}

{'name': 'Ahmed', 'age': 28}

{'name': 'said', 'age': 25}

{'name': 'amine', 'age': 18}

{'name': 'said', 'age': 23}

### Recherche exacte

In [88]:
for user in db["users"].find( {'login' : "ali89"} , {'login':1,'name' : 1, 'age' : 1}):
  print(user,'\n')

{'_id': 1, 'name': 'Ali', 'login': 'ali89', 'age': 30}

In [89]:
for user in db["users"].find( {'login' : {'$regex': 'Ali89', '$options':'i'}} , {'login':1,'name' : 1, 'age' : 1}):
  print(user,'\n')

{'_id': 1, 'name': 'Ali', 'login': 'ali89', 'age': 30}

### Filtrage dans une imbrication

In [90]:
for user in db["users"].find( { 'address.city' : 'sba'}):
  print(user,'\n')

{'_id': 1, 'name': 'Ali', 'login': 'ali89', 'age': 30, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': 2, 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 28, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': ['web', 'PHP']}

{'_id': 5, 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': ['python', 'JAVA', 'PHP']}

### Filtrage avec opération 
* \\$gt, \\$gte, \\$lt, \\$lte, \\$ne, \\$in, \\$nin, \\$or, \\$and, \\$regex, \\$exists, \\$type, \\$size, …

In [91]:
for user in db["users"].find( { 'age' :{ '$gt' : 28 }},  {"_id": 0,"name": 1,"age": 1} ):
  print(user,'\n')

{'name': 'Ali', 'age': 30}

In [92]:
for user in db["users"].find( { 'age' :{ '$in' : [18,20,30] }},  {"_id": 0,"name": 1,"age": 1} ):
  print(user,'\n')

{'name': 'Ali', 'age': 30}

{'name': 'amine', 'age': 18}

In [93]:
for user in db["users"].find( { '$and': [ {'age' : { '$gt' : 20 } }, { 'address.city' : 'sba'} ] } ):
     print(user,'\n')

{'_id': 1, 'name': 'Ali', 'login': 'ali89', 'age': 30, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': 2, 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 28, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': ['web', 'PHP']}

{'_id': 5, 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': ['python', 'JAVA', 'PHP']}

In [94]:
for user in db["users"].find( { 'name' : { '$exists': 'false'} } ):
    print(user,'\n')

{'_id': 1, 'name': 'Ali', 'login': 'ali89', 'age': 30, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': 2, 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 28, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': ['web', 'PHP']}

{'_id': 3, 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': ['web', 'JAVA', 'PHP']}

{'_id': 4, 'name': 'amine', 'login': 'amine77', 'age': 18, 'job': []}

{'_id': 5, 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': ['python', 'JAVA', 'PHP']}

In [95]:
for user in db["users"].find( { 'login' :{ '$regex' : '^a.m', '$options':'i'}},  {"_id": 0,"name": 1,"login": 1} ):
  print(user,'\n')

{'name': 'Ahmed', 'login': 'Ahmed77f'}

In [96]:
db["users"].create_index( [('name', "text"), ('login', "text")] )

for user in db["users"].find( {'$text':{ '$search': 'ali ahmed ss.ki'} } ):
       print(user,'\n')

{'_id': 2, 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 28, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': ['web', 'PHP']}

{'_id': 1, 'name': 'Ali', 'login': 'ali89', 'age': 30, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': 5, 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': ['python', 'JAVA', 'PHP']}

### Filtrage sur un tableau

In [97]:
for user in db["users"].find( { 'job' : 'BDD'} ): #dans la liste
  print(user,'\n')

{'_id': 1, 'name': 'Ali', 'login': 'ali89', 'age': 30, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

In [98]:
for user in db["users"].find( {'job.1' : 'BDD'} ): #2éme place de la liste
  print(user,'\n')

{'_id': 1, 'name': 'Ali', 'login': 'ali89', 'age': 30, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

In [99]:
for user in db["users"].find( { 'job' : ['web', 'BDD']} ):  #recherche exacte
  print(user,'\n')

{'_id': 1, 'name': 'Ali', 'login': 'ali89', 'age': 30, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

### SORT,  DISTINCT, COUNT

In [100]:
for user in db["users"].find().sort("name"):
    print(user,'\n')

{'_id': 2, 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 28, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': ['web', 'PHP']}

{'_id': 1, 'name': 'Ali', 'login': 'ali89', 'age': 30, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': 4, 'name': 'amine', 'login': 'amine77', 'age': 18, 'job': []}

{'_id': 3, 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': ['web', 'JAVA', 'PHP']}

{'_id': 5, 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': ['python', 'JAVA', 'PHP']}

In [101]:
for user in db["users"].distinct( 'age'):
    print(user,'\n')

18

23

25

28

30

In [102]:
print('# docs in Users collection =',db["users"].count_documents({}),'\n')

print('# user whose age is 18=',db["users"].count_documents({ 'age' : 30 }))

# docs in Users collection = 5

# user whose age is 18= 1

### Pipeline: aggregate

In [103]:
result=db["users"].aggregate([  
                              {'$match' : {"address.city" : 'sba'}},
                              {'$project' : {"login" : 1, "age" : 1}}, 
                              {'$sort' : {"age" : 1, "login" : -1}}
                             ]);

for user in result:
    print(user,'\n')

{'_id': 5, 'login': 'ss.ki', 'age': 23}

{'_id': 2, 'login': 'Ahmed77f', 'age': 28}

{'_id': 1, 'login': 'ali89', 'age': 30}

### Pipeline: \\$Unwind

In [104]:
result=db["users"].aggregate([  
                              {'$unwind' : "$job"},
                             {'$project' : {'_id':0, "login" : 1, "age" : 1, "job":1}},
                            ]);

for user in result:
    print(user,'\n')

{'login': 'ali89', 'age': 30, 'job': 'web'}

{'login': 'ali89', 'age': 30, 'job': 'BDD'}

{'login': 'Ahmed77f', 'age': 28, 'job': 'web'}

{'login': 'Ahmed77f', 'age': 28, 'job': 'PHP'}

{'login': 'saidyy', 'age': 25, 'job': 'web'}

{'login': 'saidyy', 'age': 25, 'job': 'JAVA'}

{'login': 'saidyy', 'age': 25, 'job': 'PHP'}

{'login': 'ss.ki', 'age': 23, 'job': 'python'}

{'login': 'ss.ki', 'age': 23, 'job': 'JAVA'}

{'login': 'ss.ki', 'age': 23, 'job': 'PHP'}

### Pipeline: \\$GROUP

In [105]:
result=db["users"].aggregate([  
                              {'$group':{"_id" : "$age", "res": {'$sum' : 1}}}

                            ]);

for user in result:
    print(user,'\n')

{'_id': 28, 'res': 1}

{'_id': 25, 'res': 1}

{'_id': 18, 'res': 1}

{'_id': 23, 'res': 1}

{'_id': 30, 'res': 1}

In [106]:
result=db["users"].aggregate([  
                              {'$match': {"address.city" : "sba"}},
                              {'$unwind' : "$job"},
                              {'$group' : {"_id" : "$job", "moy": {'$avg': "$age"}} },
                              {'$match' : {"moy" : {'$gt' : 10}} },
                              {'$sort' : { "moy" : -1} } 

                            ]);

for user in result:
    print(user,'\n')

{'_id': 'BDD', 'moy': 30.0}

{'_id': 'web', 'moy': 29.0}

{'_id': 'PHP', 'moy': 25.5}

{'_id': 'python', 'moy': 23.0}

{'_id': 'JAVA', 'moy': 23.0}

### Lookup (join between collection)

In [107]:
commentslist = [
  {"_id":1, "content":"sjkjzk zkzkz kzkz","userid": 1},
  {"_id":2, "content":"szid zoeoez","userid": 1},
  { "_id":3,"content":"uu ueue ","userid": 1}, 
  { "_id":4,"content":"skks kzkz kzkz","userid": 2},
  { "_id":5,"content":"dkkd kdkd","userid": 2},
  { "_id":6,"content":"js skks ksk ","userid": 2}, 
   {"_id":7, "content":"ksk sids ","userid": 3}, 
]

db["comments"].insert_many(commentslist)

for comment in db["comments"].find():
    print(comment,'\n')

{'_id': 1, 'content': 'sjkjzk zkzkz kzkz', 'userid': 1}

{'_id': 2, 'content': 'szid zoeoez', 'userid': 1}

{'_id': 3, 'content': 'uu ueue ', 'userid': 1}

{'_id': 4, 'content': 'skks kzkz kzkz', 'userid': 2}

{'_id': 5, 'content': 'dkkd kdkd', 'userid': 2}

{'_id': 6, 'content': 'js skks ksk ', 'userid': 2}

{'_id': 7, 'content': 'ksk sids ', 'userid': 3}

In [108]:
result2=db["users"].aggregate([
           {
              '$lookup': {
              'from': "comments",
              'localField': "_id",
              'foreignField': "userid",
               'as': "commentdetails",
             }
     }
])


for user in result2:
    print(user,'\n')

{'_id': 1, 'name': 'Ali', 'login': 'ali89', 'age': 30, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD'], 'commentdetails': [{'_id': 1, 'content': 'sjkjzk zkzkz kzkz', 'userid': 1}, {'_id': 2, 'content': 'szid zoeoez', 'userid': 1}, {'_id': 3, 'content': 'uu ueue ', 'userid': 1}]}

{'_id': 2, 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 28, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': ['web', 'PHP'], 'commentdetails': [{'_id': 4, 'content': 'skks kzkz kzkz', 'userid': 2}, {'_id': 5, 'content': 'dkkd kdkd', 'userid': 2}, {'_id': 6, 'content': 'js skks ksk ', 'userid': 2}]}

{'_id': 3, 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': ['web', 'JAVA', 'PHP'], 'commentdetails': [{'_id': 7, 'content': 'ksk sids ', 'userid': 3}]}

{'_id': 4, 'name': 'amine', 'login': 'amine77', 'age': 18, 'job': [], 'commentdetails': []}

{'_id': 5, 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': ['python', 'JAVA', 'PHP'], 'commentdetails': []}

#### Vider une collection

In [109]:
db['users'].delete_many({})

DeleteResult({'n': 5, 'ok': 1.0}, acknowledged=True)

In [110]:
# Check if the collection is empty
print(db['users'].find())
print(db['users'].count_documents({}))

<pymongo.synchronous.cursor.Cursor object at 0x7f4120001d60>
0